@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Inter";
}

/* style header Component */

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   background-color: #f55a5a;
   color: white;
   /* border-bottom: 1px solid #e1e0e7; */
}

.header img {
   width: 40px;
}

.header span {
   font-size: 1.5rem;
   font-weight: 500;
   letter-spacing: 0.2px;
}



.main {
   width: 90%;
   max-width: 50rem;
   margin: 50px auto;
}

.main article:first-child {
   border: none;
}

.article {
   display: flex;
   gap: 40px;
   margin-bottom: 20px;
   align-items: center;
   border-top: 1.5px solid #eee;
   padding-top: 20px;

}



.article img {
   width: 200px;
   height: 17rem;
   object-fit: cover;
   border-radius: 5px;
}

.article .data {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.article .data span img {
   width: 1.1rem;
   height: 20px;
   object-fit: cover;
   object-position: bottom;
   margin-top: 1px;
}

.article .data div {
   display: flex;
   gap: 30px;
   align-items: center;
}

.article .data div a {
   align-self: flex-start;
   font-size: 1.2rem;
   color: gray;
   font-weight: 300;
}

.article .data div p {
   font-size: 1.1rem;
   font-weight: 400;
   letter-spacing: 4px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   gap: 5px;
}

article .data .title {
   font-size: 2.5rem;
   font-weight: bold;
}

article .data .date {
   font-size: 1.1rem;
   font-weight: bold;
   margin-top: 12px;
}

article .data p:last-child {
   font-size: 0.9rem;
   font-weight: 400;
   letter-spacing: 0.3px;
   line-height: 1.6;
}
