@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
}

/* style header Component */

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-bottom: 1px solid #e1e0e7;
}

.header img {
   width: 40px;
}

.header span {
   font-size: 1.5rem;
   font-weight: 500;
   letter-spacing: 0.2px;
}



